{% extends "dragdrop/base2.html" %}
{% block content %}
{% load staticfiles %}
	<div>
        <h1><a id="prueba" href="/files" style="text-decoration: none; color:#749201">CSV Files</a>
    </div>
    <div class="container">
   		<div class="col-sm-12">	
		    <table class="table table-striped" style="margin-bottom:0px;">
				 <thead>
				   	<tr>
				      <th></th>
				      <th><img src="{% static 'dragdrop/css/images/btnCreateSourceWS.png' %}" height='22' width='25'> Sources</th>
				      <th><span class="glyphicon glyphicon-calendar"></span> Age</th>
				      <th></th>
				    </tr>
				  </thead>
				  <tbody>
				  {% for file in data %}
				  <div id="modal{{ file.pk }}" class="modal fade" role="dialog">
						  <div class="modal-dialog">
						    <!-- Modal content-->
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" onClick="cancelDelete()" data-dismiss="modal">&times;</button>
						        <h4 id="modal-title" class="modal-title">Delete {{ file.url }}?</h4>
						      </div>
						      <div class="modal-footer" style="text-align:center;">
						        <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
						        <button type="button" class="btn btn-danger" onClick="ajaxDelete({{ file.pk }})"><img id="load{{ file.pk }}" style="display:none;" src="{% static 'dragdrop/css/images/loading-white.gif' %}"> Accept</button>
						      </div>
						    </div>
						
						  </div>
					</div>
				  	<tr id="{{ file.pk }}">
				      <td><img src="{% static 'dragdrop/css/images/btnCreateSource.png' %}" height='18' width='18'></td>
				      <td style="text-align:left;"><a href="{% url "dragdrop.views.data_detail" pk=file.pk %}">{{ file.url }}</a></h1></td>
				      <td style="text-align:left;">{{ file.age }}</td>
				      <td><a style="cursor:pointer;" data-toggle="popover" data-placement="right" data-content='
				      			<a style="margin:3px;" href="/file/{{ file.pk }}" class="btn btn-success btn-xs">Show</a>
				      			<a class="btn btn-danger btn-xs" onClick="cancelDelete()" data-toggle="modal" data-target="#modal{{ file.pk }}">Delete</a>'>
		 			  		<img src="{% static 'dragdrop/css/images/btnDisplayProjectList.png' %}" >
		 			    </a>
		 			 </td>
				    </tr>
				  {% endfor %}
				  </tbody>
			</table>
			<div class="pagination" style="margin-top:0px; width:100%;">
   				<span class="step-links">
       				{% if data.has_previous %}
           				<a href="?page={{ data.previous_page_number }}" style="text-decoration:none;">
           					<img src="{% static 'dragdrop/css/images/btnDismissProjectList.png' %}">
           				</a>
      					{% endif %}

       				<span class="current">
           				Page {{ data.number }} of {{ data.paginator.num_pages }}
       				</span>

       				{% if data.has_next %}
           				<a href="?page={{ data.next_page_number }}" style="text-decoration:none;"> 
           					<img src="{% static 'dragdrop/css/images/btnDisplayProjectList.png' %}" >
           				</a>
       				{% endif %}
   				</span>
			</div>
			<p id='error'></p>
		</div>
	</div>
{% endblock content %}